{% extends 'calendar/base.html' %}
{% load calendar_tags %}

{% block page_class %}{{ block.super }} list-page{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">Shows</li>
{% endblock %}

{% block header_content %}<h2>Upcoming Shows</h2>{% endblock %}
{% block article_content %}
    {% if event_list %}
        {% events from event_list format "summary" %}
    {% else %}
        <p class="message">No shows scheduled.</p>
    {% endif %}
{% endblock %}

{% block page_nav %}
    {% event_years %}
{% endblock %}

