{% load calendar_tags contact_tags %}

{% if event_list %}
    <table class="event-list object-table">
    {% for event in event_list %}
        <tr>
            <td class="details">
                <span class="dates title">{{ event.dates }}</span>
            {% comment %}
            {% if event.location %}
                <br /><span class="venue">{% contactlink event.location %}</span>
                <br /><span class="city">{{ event.location.city }}, {{ event.location.region }}</span>
            {% endif %}
            {% endcomment %}
            </td>
            <td class="description">
            {% if event.location %}
                <p class="title"><span class="venue">{% contactlink event.location %}</span>,
                    <span class="city">{{ event.location.city }}, {{ event.location.region }}</span></p>
            {% endif %}
            {% if event.name %}
                <p><span class="title">{{ event.name }}</span></p>
            {% endif %}
                {{ event.description|safe }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if more_events > 0 %}<p>&hellip;plus {{ more_events }} more</p>{% endif %}
{% else %}
    <p class="message">No shows scheduled.</p>
{% endif %}
