{% extends 'discography/base.html' %}
{% load discography_tags fb_versions %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">Music</li>
{% endblock %}

{% block header_content %}<h2>Music</h2>{% endblock %}

{% block article_content %}
    <div id="releases" class="section">
        <h3>Releases</h3>
        {% if release_list %}    
            <ul class="release-list object-gallery">
            {% for release in release_list %}
                <li class="image thumbnail">
                    {% spaceless %}
                    <a href="{{ release.get_absolute_url }}">
                        <img src="{% version release.artwork 'thumbnail' %}" alt="{{ release.title }} cover" />
                    </a>
                    {% endspaceless %}
                    <p class="title">{{ release }}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No releases.</p>
        {% endif %}
        <div class="clear" ></div>
    </div>
    
    <div id="songs" class="section">
        <h3>Songs</h3>
        {% if song_list %}    
            <ul class="track-list object-list">
            {% for song in song_list %}
                <li><p class="song">{% songlink song %}
                    {% if song.tracks.count %}
                    {% with song.parent as release %}
                        <br /><span class="from-link">from <a href="{{ release.get_absolute_url }}">{{ release }}</a></span>
                    {% endwith %}
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No songs.</p>
        {% endif %}
    </div>
{% endblock %}