{% extends 'discography/base.html' %}
{% load discography_tags fb_versions %}

{% block page_title %}Releases | {{ block.super }}{% endblock %}
{% block page_id %}releases{% endblock %}
{% block page_class %}{{ block.super }} list-page{% endblock %}

{% block breadcrumb_nav %}
    {{ block.super }}
    <li class="current-page">Releases</li>
{% endblock %}

{% block header_content %}<h2>Releases</h2>{% endblock %}

{% block article_content %}
    <ul class="release-list object-list">
    {% for release in release_list %}
        <li>
            {% spaceless %}
            <div class="image thumbnail">
                <a href="{{ release.get_absolute_url }}">
                    <img src="{% version release.artwork 'thumbnail' %}" alt="{{ release.title }} cover" />
                </a>
            </div>
            {% endspaceless %}
            <div class="details">
                <p class="title">
                    <a href="{{ release.get_absolute_url }}">{{ release }}</a>
                {% if release.is_released %}
                    <br /><small>Released {% if release.label %}by {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</small>
                {% else %}
                {% if release.release_date %}
                    <br /><small>Available {% if release.label %}from {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</small>
                {% endif %}
                {% endif %}
                </p>
            {% if release.buy %}
                {{ release.buy|safe }}
            {% endif %}
            </div>
            <div class="clear" ></div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
