{% extends 'discography/base.html' %}
{% load fb_versions discography_tags attachment_items %}

{% block page_title %}{{ release }} | {{ block.super }}{% endblock %}
{% block page_id %}{{ block.super }}-{{ release.slug }}{% endblock %}
{% block page_class %}{{ block.super }} detail-page {% if release.artwork %}artwork-page{% endif %}{% endblock %}

{## BREADCRUMBS ##}

{% block breadcrumb_nav %}
{{ block.super }}
<li class="current-page">{{ release }}</li>
{% endblock %}

{## HEADER ##}

{% block header_content %}
{% if release.artwork %}
    <div id="artwork" class="figure medium">
        <a href="{% version release.artwork 'large' %}"><img src="{% version release.artwork 'medium' %}" alt="{{ release.title }} artwork"/></a>
    </div>
{% endif %}

    <h2>{{ release }}</h2>

{% if release.is_released %}
    <p>Released {% if release.label %}by {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</p>
{% else %}
{% if release.release_date %}
    <p>Available {% if release.label %}from {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</p>
{% endif %}
{% endif %}

    <ul id="section-nav" class="nav">
        {% with release as object %}
        {% include 'bandsite/attachment_nav.html' %}
        {% endwith %}
    </ul>
{% endblock %}

{## ARTICLE ##}

{% block article_content %}
{% if release.buy %}
    <div id="buy" class="section">
        <h3>Buy</h3>
        {{ release.buy|safe }}
    </div>
{% endif %}

{% if release.tracks.count %}
    <div id="songs" class="section">
        <h3>Songs</h3>
        <ol class="track-list object-list">
        {% for track in release.tracks.all %}
        {% with track.song as song %}
            <li class="song">{% songlink song %}</li>
        {% endwith %}
        {% endfor %}
        </ol>
        <!--<p class="more-link"><a href="{% url release_lyrics release.slug %}">All song lyrics&hellip;</a></p>-->
    </div>
{% endif %}

{% if release.credits %}
    <div id="credits" class="section">
        <h3>Credits</h3>
        {{ release.credits|safe }}
    </div>
{% endif %}

{% with release as object %}
{% include 'bandsite/attachment_section.html' %}
{% endwith %}

{% endblock %}

{# TODO: Show other releases in sidebar #}
