{% if release %}
<a href="{{ release.get_absolute_url }}" class="title">{{ release.title }}</a>
{% if release.is_released %}
    <br /><span class="timestamp">Released {% if release.label %}by {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</span>
{% else %}
{% if release.release_date %}
    <br /><span class="timestamp">Available {% if release.label %}from {{ release.label.name }}{% endif %} on {{ release.release_date|date:'F j, Y' }}</span>
{% endif %}
{% endif %}
{% endif %}