{% extends 'posts/base.html' %}
{% load core_tags fb_versions %}

{% block page_class %}{{ block.super }} list-page{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">News</li>
{% endblock %}

{% block header_content %}<h2>News</h2>{% endblock %}
{% block article_content %}
    {% if post_list %}
        <ul class="post-list object-list">
        {% for post in post_list %}
            <li><h3><a href="{{ post.get_absolute_url }}" title="Permalink">{{ post }}</a></h3>
                <div>
                    {{ post.body|safe }}
                </div>
          
                <p class="timestamp">Posted {% if post.author %}by {{ post.author.first_name }} {% endif %}on {{ post.publish_date|date }}</p>
                
                {# TODO: Link to media #}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No news.</p>
    {% endif %}
{% endblock %}

{% block page_nav %}
    {% pagenav paginator page_obj %}
{% endblock %}
