body#home #article-content,
body#press #article-content,
body#music #article-content
{
    zoom: 1;
}

body#home #calendar table
{
    margin-top: 0;
    margin-bottom: 0;
}

body#home #calendar th,
body#home #calendar td
{
    padding-top: 0;
}

body#home #photos ul.object-gallery
{
    width: 540px;
}

#article-content .object-gallery li .from-link
{
    background-color: #202020;
}

#article-content blockquote p
{
    margin-bottom: 0;
}
