.images-on #body-header h1
{
    margin: 0;
}

.images-on #body-header h1 a
{
    display: block;
    text-indent: -9999px;
    width: 700px;
    height: 50px;
    margin: 0 0 10px -5px;
    background-image: url(img/banner.gif);
    background-repeat: no-repeat;
}

.images-on a[href^="http"]
{
    padding-right: 14px;
    background-image: url(img/sprites.png);
    background-position: 100% -2px;
    background-repeat: no-repeat;
}

.images-on a[href^="http"]:hover
{
    background-position: 100% -22px;
}

.images-on a[title="Tickets"]
{
    background-image: none;
}

.images-on .feed-link a
{
    padding-right: 17px;
    background-image: url(img/sprites.png);
    background-position: 100% -42px;
    background-repeat: no-repeat;
}

.images-on .feed-link a:hover
{
    background-position: 100% -62px;
}

.images-on #breadcrumb-nav li
{
    margin: 0 6px 0 0;
    padding-left: 12px;
    background-image: url(img/sprites.png);
    background-position: -8px -80px;
    background-repeat: no-repeat;
}

.images-on #breadcrumb-nav li:before
{
    padding-right: 0;
    content: '';
}
