html
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body
{
    margin: 0 auto;
    padding: 0 1.5em;
    font-size: 87.5%; /* 14 / 16 */
    line-height: 1.5em;
}

.clear
{
    clear: both;
}

h1, h2, h3, h4
{
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 3em;
    line-height: 1em;
    margin-bottom: .5em;
}

h2
{
    font-size: 1.5em;
    line-height: 2em;
}

h3
{
    font-size: 1.1em;
    margin-bottom: 1.3636em; /* 1.5 / 1.1 */
}

h4
{
    margin-bottom: 1.5em;
    font-size: 1em;
}

ol, ul, dl, dd,
p, form, fieldset, legend, table,
object, blockquote,
.section, .figure
{
    margin: 0 0 1.5em 0;
    padding: 0; 
}

ol
{
    list-style: decimal inside;
}

ul
{
    list-style: disc inside;
}

li, dt
{
    margin: 0;
    padding: 0;
}

object
{
    display: block;
    max-width: 100%;
    border-width: 3px;
    border-style: solid;
}

img
{
    max-width: 100%;
    outline-width: 3px;
    outline-style: solid;
}

/* TODO: Review use of image class */
.image > a
{
    display: block;
    line-height: 0;
}

.image > p
{
    margin: .75em 0;
    text-align: center;
}

blockquote
{
    padding-left: .5em;
    border-width: 0 0 0 1px;
    border-style: dotted;
}

label
{
    display: block;
    margin: 0;
    padding: 0;
}

form .button
{
    border: none;
}

form .errorlist li
{
    list-style: none;
}

table
{
    width: 104%; /* 720 / 690 */
    margin-left: -1em;
    border-collapse: separate;
	border-spacing: 0;
    text-align: left;
}

th, td
{
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
}

/* NAV */

ul.nav, ol.nav
{
    margin: 0;
}

.nav li
{
    float: left;
    margin-right: 1em;
    list-style: none;
}

/* HEADER */

#body-header
{
    position: relative;
    max-width: 49em; /* 690 / 14 */
    margin: 0 auto;
    padding: 1.5em 0;
}

#body-header .nav li
{
    width: 22%; /* 150 / 690 */
    margin: 0 4% 0 0; /* 30 / 690 */
}

#body-header .nav li:nth-child(4n)
{
    margin-right: 0;
}
    
#header-list-form
{
    clear: both;
    margin: 0;
    padding: 1.5em 0 0 0;
}

#header-list-form p
{
    display: inline;
}

#header-list-form label,
#header-list-form input
{
    display: inline;
    margin-right: .5em;
}

#header-list-form label
{
    display: none;
}

/* ARTICLE */

#body-article
{
    position: relative;
    max-width: 49em; /* 690 / 14 */
    margin: 0 auto;
    padding: 1.5em 0;
}

/* Page Content */

#article-header
{
    display: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

.detail-page #article-header,
.lyrics-page #article-header,
.flat-page #article-header
{
    display: block;
}

#section-nav
{
    height: 1.5em;
    margin: 1.5em 0 3em 0;
    border-width: 0 0 1px 0;
    border-style: solid;
}

#section-nav li
{
    margin: 0 1em 0 -.5em;
    padding: 0 .5em 0 .5em;
    font-size: .85em;
}

#article-content > .section
{
    margin: 3em 0 0 0;
}

#article-content > .section:first-child
{
    margin-top: 0;
}

#article-content > .section h3
{
    border-width: 0 0 1px 0;
    border-style: dotted;
}

ul.object-list
{
    list-style: none;
}

.object-list > li
{
    margin: 0 0 1.5em 0;
}

#article-content > .object-list > li
{
    margin: 3em 0;
    padding-top: 3em;
    border-top-width: 1px;
    border-top-style: dotted;
}

#article-content > .object-list > li:first-child
{
    margin-top: 0;
    padding-top: 0;
    border-top-style: none;
}

ul.object-gallery
{
    float: left;
    margin: 0;
    width: 100%;
    list-style: none;
}

.object-gallery li
{
    position: relative;
    float: left;
    margin: 0 4% 2em 0; /* 30 / 690 */
}

.object-gallery li.thumbnail:nth-child(4n),
.object-gallery li.medium:nth-child(2n)
{
    margin-right: 0;
}

.object-gallery li .from-link
{
    display: none;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0 4px;
    font-size: .7em;
    line-height: 1.5em;
    text-align: left;
}

.object-gallery li:hover .from-link
{
    display: block;
}

.thumbnail
{
    width: 22%;
}

.medium
{
    width: 48%;
}

.large
{
    width: 100%;
}

.icon-links a
{
    padding: 0.09em;
}

img.icon
{
    margin: 0;
    max-width: none;
    border: none;
    outline: none;
    vertical-align: text-top;
}

.figure
{
    line-height: 0;
}

.timestamp,
.from-link
{
    font-size: 0.85em;
    vertical-align: bottom;
}

#article-footer
{
    float: left;
    clear: both;
    margin: 1.7647em 0; /* 1.5 / .85 */
    padding: 0 1em;
    font-size: .85em;
}

#article-footer p,
#article-footer ul
{
    float: left;
    margin: 0;
}

#article-footer p.title,
#page-nav li
{
    margin: 0 1em 0 0;
}

#breadcrumb-nav
{
    clear: both;
    margin: 0 auto;
    padding: 0;
}

#breadcrumb-nav li
{
    margin: 0 .5em 0 0;
}

#breadcrumb-nav li:before
{
    padding-right: .5em;
    content: ">";
}

/* FOOTER */

/* TODO: Stick to bottom */
#body-footer
{
    position: relative;
    max-width: 49em; /* 690 / 14 */
    margin: 0 auto;
    padding: 1.5em;
}

#body-footer h2
{
    font-size: 1em;
    margin-bottom: 1.5em;
}

#body-footer ul
{
    list-style: none;
    font-size: .85em;
}

#footer-contact li
{
    margin-bottom: 1.7647em; /* 1.5 / .85 */
}

#footer-contact-form
{
    font-size: .85em;
}

#footer-contact-form textarea
{
    width: 100%;
    height: 10em;
}

.js #footer-contact-form
{
    display: none;
}

/* PAGES */

body#home #article-header,
body#songs #article-header,
body#releases #article-header,
body#calendar #article-header
{
    display: block;
}

body#home #article-footer,
body#error-404 #article-footer
{
    display: none;
}

body.music-page .credits
{
    font-size: .85em;
}

body#about #members th
{
    width: 48%; /* 330 / 690 */
    padding: 0 2% 1.5em 0; /* 15 / 690 */
    text-align: right;
}

body#about #members td
{
    width: 48%;
    padding: 0 0 1.5em 2%;
    text-align: left;
}
