{% extends 'base.html' %}
{% load attachment_items discography_tags %}

{% block page_title %}Press | {{ block.super }}{% endblock %}
{% block page_id %}press{% endblock %}
{% block page_class %}{{ block.super }} list-page{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">Press</li>
{% endblock %}

{% block header_content %}<h2>Press</h2>{% endblock %}
{% block article_content %}
    <ul class="press-list object-list">
    {% for link in all_press %}
        <li class="{{ link.object_type }} link">{% linkitem link %}</li>
    {% endfor %}
    </ul>
{% endblock %}
