{% load attachment_items %}

{% if object.files.count %}
    <div id="downloads" class="section">
        <h3>Downloads</h3>
        <ul class="file-list object-list">
        {% for file in object.files.all %}
            <li class="{{ file.object_type }} file">{% fileitem file %}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{% if object.videos.count %}
    <div id="video" class="section">
        <h3>Video</h3>
        <ul class="video-list object-list">
        {% for video in object.videos.all %}
            <li class="{{ video.object_type }} video">
                <p>{% videoitem video %}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{% if object.images.count %}
    <div id="photos" class="section">
        <h3>Photos</h3>
        <ul class="image-list object-gallery">
        {% for image in object.images.all %}
            <li class="{{ image.object_type }} image thumbnail">{% imageitem image 'photos' %}</li>
        {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
{% endif %}

{% if object.links.count %}
    <div id="links" class="section">
        <h3>Press/Links</h3>
        <ul class="link-list object-list">
        {% for link in object.links.all %}
            <li class="{{ link.object_type }} link">{% linkitem link %}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

