{% extends 'base.html' %}
{% load core_tags attachment_items %}

{% block page_title %}Photos | {{ block.super }}{% endblock %}
{% block page_id %}photos{% endblock %}
{% block page_class %}{{ block.super }} list-page{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">Photos</li>
{% endblock %}

{% block header_content %}<h2>Photos</h2>{% endblock %}
{% block article_content %}
    <ul class="image-list object-gallery">
    {% for photo in photo_list %}
        <li class="{{ image.object_type }} image thumbnail">
            {% imageitem photo 'photos' %}
            {% if photo.parent %}<p class="from-link">from <a href="{{ photo.parent.get_absolute_url }}">{{ photo.parent }}</a></p>{% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="clear"></div>
{% endblock %}

{% block page_nav %}
    {% pagenav paginator page_obj %}
{% endblock %}
