<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Server Error</title>
</head>

<body>
    <p>Something is broken.  We'll try to fix it.  In the meantime, why don't you peruse our other homes on the Internet?</p>
    <ul>
        <li><a href="http://www.twitter.com/h_t_h">Twitter</a></li>
        <li><a href="http://www.facebook.com/hallelujahthehills">Facebook</a></li>
        <li><a href="http://www.myspace.com/hallelujahthehills">MySpace</a></li>
    </ul>
</body>
</html>

