{% extends 'base.html' %}

{% block page_title %}About The Band | {{ block.super }}{% endblock %}
{% block page_id %}about{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">About The Band</li>
{% endblock %}

{% block header_content %}<h2>About The Band</h2>{% endblock %}
{% block article_content %}
    <iframe width="640" height="480" src="//www.youtube.com/embed/bruppYsMkas" frameborder="0" allowfullscreen></iframe>
    <div class="figure large"><img src="/files/images/hth_201304_outside_large.jpg" alt="Hallelujah The Hills" /></div>
    <p style="text-align: center;">Ryan Walsh, Ryan Connelly, Brian Rutledge, Nicholas Ward, Joseph Marrett</p>
    <p style="text-align: center;"><a href="http://en.wikipedia.org/wiki/Hallelujah_the_Hills">Hallelujah The Hills on Wikipedia</a></p>
{% endblock %}
