{% extends 'base.html' %}

{% block page_title %}About The Band | {{ block.super }}{% endblock %}
{% block page_id %}about{% endblock %}

{% block breadcrumb_nav %}
    <li><a href="{% url home %}">Home</a></li>
    <li class="current-page">About The Band</li>
{% endblock %}

{% block header_content %}<h2>About The Band</h2>{% endblock %}
{% block article_content %}
    <div class="figure large"><img src="/files/images/ryan_playboy.jpg" alt="Hallelujah The Hills" /></div>
    <p style="text-align: center;">Hallelujah The Hills is Ryan Walsh, David Bentley, Joseph Marrett, Brian Rutledge, and Nicholas Ward, with help from Dave Bryson.</p>
{% endblock %}
