{% load bandsite_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=710" />
    
    <title>{% block page_title %}{{ current_site.name }}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/fonts.css" />
    <link rel="stylesheet" type="text/css" media="screen,handheld" href="{{ STATIC_URL }}css/color.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/images.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/print.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.1.css" />
    
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/ie7.css"/>
    <![endif]-->

    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/ie6.css"/>
    <![endif]-->
    
    <link rel="alternate" type="application/rss+xml" title="{{ current_site.name }} Shows" href="{% url feeds 'calendar' %}" />
    <link rel="alternate" type="application/rss+xml" title="{{ current_site.name }} News" href="{% url feeds 'news' %}" />

    <script type="text/javascript">//<![CDATA[
    var STATIC_URL = "{{ STATIC_URL }}";
    document.documentElement.className += 'js';
    (function(){d=document;e=d.documentElement;c="images-on";i=new Image();t=i.style;s=d.enableStateScope=function(s,o){if(o)e.className+=" "+s;else e.className=e.className.replace(new RegExp("\\b"+s+"\\b"),"");};if(t.MozBinding!=null){t.backgroundImage="url("+d.location.protocol+"//0)";b=window.getComputedStyle(i,'').backgroundImage;if(b!="none"&&b!="url(invalid-url:)"||d.URL.substr(0,2)=="fi")s(c,true);}else{t.cssText="-webkit-opacity:0";if(t.webkitOpacity==0){i.onload=function(){s(c,i.width>0);};i.src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";}else{i.onerror=function(){s(c,true);};i.src="about:blank";}}})();
    //]]></script>
</head>

<body id="{% block page_id %}{% endblock %}" class="{% block page_class %}hth{% endblock %}" >
    <div id="body-header" class="header">
        <h1><a href="{% url home %}">{{ current_site.name }}</a></h1>
        <ul class="nav">
            <li id="home-link"><a href="{% url home %}">Home</a></li>
            <li id="music-link"><a href="{% url music %}">Music</a></li>
            <li id="calendar-link"><a href="{% url calendar %}">Shows</a></li>
            <li id="news-link"><a href="{% url posts %}">News</a></li>
            <li id="video-link"><a href="{% url video %}">Video</a></li>
            <li id="photos-link"><a href="{% url photos %}">Photos</a></li>
            <li id="press-link"><a href="{% url press %}">Press</a></li>
            <li id="about-link"><a href="{% url about %}">About</a></li>
        </ul>
        <form id="header-list-form" action="{% url mailing_list %}" method="post">
            <p class="title">Email List</p>
            {% for field in list_form %}
                <p class="field">{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
            <p class="field"><input type="submit" class="button" value="Sign Up" /></p>
        </form>
        <div class="clear"></div>
    </div>

    <div id="body-article" class="article">
        <div id="article-header" class="header">
            {% block header_content %}{% endblock %}
        </div>
        <div id="article-content">
            {% block article_content %}{% endblock %}
        </div>
        <div id="article-footer" class="footer">
            {% block footer_content %}{% endblock %}
            {% block page_nav %}{% endblock %}
            <ol id="breadcrumb-nav" class="nav">
                {% block breadcrumb_nav %}{% endblock %}
            </ol>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="body-footer" class="footer">
        <div id="footer-contact" class="section">
            <h2>Contact</h2>
            {% contact_emails %}
            <form id="footer-contact-form" action="{% url contact %}" method="post">
                {% for field in email_form %}
                    <p class="field">{{ field.label_tag }} {{ field }}</p>
                {% endfor %}
                <p><input type="submit" class="button" value="Send" /></p>
            </form>
        </div>
        <div id="footer-links" class="section">
            <h2>Elsewhere</h2>
            <ul>
                <li id="twitter-link"><a href="http://www.twitter.com/JahHills">Twitter</a></li>
                <li id="facebook-link"><a href="http://www.facebook.com/hallelujahthehills">Facebook</a></li>
                <li id="bandcamp-link"><a href="http://hallelujahthehills.bandcamp.com">Bandcamp</a></li>
            </ul>

        </div>
        <div id="footer-subscribe" class="section">
            <h2>Subscribe</h2>
            <ul>
                <li class="feed-link"><a href="{% url feeds 'calendar' %}">Shows</a></li>
                <li class="feed-link"><a href="{% url feeds 'news' %}">News</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
    {% comment %}
    <div id="jp-container"></div>
    <div id="jp-interface">
        <span id="jp-controls">
            <a href="#" id="jp-play"><img class="icon" src="{{ STATIC_URL }}img/play_green.png" alt="Play" /></a>
            <a href="#" id="jp-pause"><img class="icon" src="{{ STATIC_URL }}img/pause_green.png" alt="Pause" /></a>
            <a href="#" id="jp-stop"><img class="icon" src="{{ STATIC_URL }}img/stop_green.png" alt="Stop" /></a>
        </span>
        <span id="jp-song"></span>
        <span id="jp-links">
            <a href="" id="jp-details"><img class="icon" src="{{ STATIC_URL }}img/text_align_left.png" alt="Details" title="Details" /></a>
            <a href="" id="jp-download"><img class="icon" src="{{ STATIC_URL }}img/disk_gray.png" alt="Download" title="Download" /></a>
        </span>
        <span id="jp-time">[<span id="jp-play-time"></span>/<span id="jp-total-time"></span>]</span>
    </div>
    {% endcomment %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.infieldlabel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.embedly.min.js"></script>
    <!--
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookies.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
    -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hth.js"></script>

    {% if not debug %}
    <script type="text/javascript">//<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18027436-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    //]]></script>
    {% endif %}
</body>
</html>
